# Managed by Ansible - DNS agent environment
AGENT_CONTROL_PLANE={{ dns_agent_control_plane }}
AGENT_DNS_LISTEN={{ dns_agent_dns_listen }}
AGENT_DNS_UPSTREAM={{ dns_agent_dns_upstream }}
AGENT_DNS_UPSTREAM_TIMEOUT_MS={{ dns_agent_dns_upstream_timeout_ms }}
AGENT_MAX_INFLIGHT={{ dns_agent_max_inflight }}
AGENT_TRACE_RUNTIME_WORKERS={{ dns_agent_trace_workers }}
